* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    outline: none;
    appearance: none;
}
    
body {
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}

.logo-animado-conversao {
    width: 15vw;
    height: auto;
    margin: 20px auto;
    justify-content: center;
    display: block;


}

main {

    width: 375px;
    height: 712px;
    border-radius: 20px;
    background-color: #F4F4F4;
    padding: 44px 24px 23px 24px;

    display: flex;
    margin: 0 auto 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

}
label {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #777777;

}

label select{
    width: 327px;
    height: 48px;
    border-radius: 5px;
    padding-left: 2%;
    color: #555555;
    cursor: pointer;

}
label select:hover {
    box-shadow: 2px 10px 20px 2px rgba(119,47,211,0.7);;
}

label input {
    width: 327px;
    height: 48px;
    border-radius: 5px;
    padding-left: 4%;
}
label input:hover {
    box-shadow: 
    0px 10px 20px 2px rgba(119,47,211,0.7);;
}

button {
    width: 327px;
    height: 48px;
    border-radius: 5px;
    
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    border: none;
    background-color: #772FD3;
    color: white;
    opacity: .9;
    

}
button:hover {
    
    cursor: pointer;
    box-shadow: 2px 10px 20px 2px rgba(119,47,211,0.7);;

}

button:active {
    opacity: 2;
    cursor: pointer;
    box-shadow: 2px 10px 20px 2px rgba(119,47,211,0.7);;
}

section {
    width: 327px;
    height: 276px;
    padding: 10px;

    border: 2px solid #772FD3 ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
section p { 
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    color: #555555;


}
section label {
    text-align: center;

}
section label p {

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #777777;


}


section .caixa-moedas img {
    width: 44px;
    height: 44px;


}


.Vetor-indicativo {
    padding-top: 15px;
    padding-bottom: 15px;
}


